html{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(189,157,92,1) 0%, rgba(160,166,117,1) 0%, rgba(141,171,134,1) 24%, rgba(125,176,148,1) 45%, rgba(105,187,88,1) 100%, rgba(0,212,255,1) 100%);
}
#app{
  width: 100%;  
  height: 90vh;
  display: grid;
  place-items: center;
  font-size: 2rem;
  word-wrap: break-word;
}
span{
  color: blueviolet;
}